* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.box {
  /* 1em = 16px */
  /* 2em = 32px */
  font-size: 2rem;
}

.para {
  /* here 1em = 32px as parents font-size is 32px */
  /* 2em = 64px */
  font-size: 1em;
  border: 1px solid green;
  /* width = 100 * computed font-size */
  /* width: 100em; */
  /* padding: 1em; */
}

:root {
  font-size: 14px;
}

/* html {
} */
