body {
  overflow: hidden;
}

.box {
  height: 100vh;
  width: 100vw;
  background-color: rgb(28, 209, 200);
  cursor: pointer;
  /* background-color: rgba(0, 128, 0, 0.562); */
  /* transform: translateX(300px); */
  /* transform: translateY(100px); */
  /* transform: translate(100px, -100px); */
  /* transition: 0.5s ease; */
  /* transform: rotate(45deg); */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  box-shadow: 3px 3px 200px 0px rgba(0, 0, 0, 0.4);
  padding: 5px;
  text-shadow: 2px 2px 4px rgb(231, 78, 78);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(https://wallpapers.com/images/high/football-galaxy-cmzaumjxnuqk0a6i.webp);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: -100px; */
}

.box:hover {
  /* opacity: 0.5;
  transform: scale(1.5);
  transform-origin: 100px 100px; */
  transform: rotate(45deg);
  transition: 0.7s ease-in-out transform;
}

/* 13 */
